@use '../shared/_variable' as v
@mixin btn
    letter-spacing: 1.4px
    padding: 10px 16px
    border-radius: 4px
    font-size: 0.625rem
    display: inline-flex
    align-items: center
    justify-content: center
    box-shadow: 2px 2px 4px 1px v.$button-shadow
    transition: background .5s
