@use '../shared/_variable.sass' as v
@use '../shared/_global.sass' as g

body
  @extend %font;
  background: v.$background-color;
  color: v.$font-color-dark;
  max-width: v.$max-width;
  margin: 0 auto;