@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.feature__inner
    display: flex
    gap: 64px
    justify-content: center
    flex-wrap: wrap

.feature__desc
    color: v.$top-font-weak-color
    max-width: 300px
    margin-top: 16px
