@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.header
    width: 100%;
    padding: 16px
    z-index: v.$z-index-public-header
    position: absolute

.header__inner
    display: flex
    align-items: center
    justify-content: space-between

.header__logo
    display: flex
    align-items: center
    gap: 8px
    &:hover
        opacity: 0.8
    &-text
        font-size: 0.875rem

.header__nav
    display: flex
    align-items: center


.header__nav-list
    display: flex
    margin-right: 16px
    @include m.mobile
        display: none

.header__nav-item
    padding-right: 16px
    font-size: 0.75rem
    &:hover
        color: v.$primary-color-darker

.header__github
    &:hover
        color: v.$primary-color-darker

.header__actions
    display: flex
    min-width: 240px
    // aline-items: center
    justify-content: flex-end
    gap: 16px

.header__btn
    // width: 100%
    @include m.btn($fs:0.625rem)

    &--primary
      background: v.$primary-color
      &:hover
          background: v.$primary-color-darker

    &--secondary
      background: v.$secondary-color
      &:hover
          opacity: 0.8