@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.header
    width: 100%
    padding: 16px
    z-index: v.$z-index-public-header
    position: absolute

    &__inner
        display: flex
        align-items: center
        justify-content: space-between

    &__logo
        display: flex
        align-items: center
        gap: 8px
        &:hover
            opacity: 0.8
        &-text
            font-size: 0.875rem

    &__nav
        display: flex
        align-items: center

        &-list
            display: flex
            margin-right: 16px
            @include m.mobile
                display: none

        &-item
            padding-right: 16px
            font-size: 0.75rem
            &:hover
                color: v.$primary-color-darker

    &__github
        &:hover
            color: v.$primary-color-darker

    &__actions
        display: flex
        min-width: 240px
        // aline-items: center
        justify-content: flex-end
        gap: 16px

