@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.hero
    text-align: center
    height: 960px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative

    @include m.tablet
        padding: 16px

    @include m.mobile
        height: 640px


    &__title
        font-size: 6rem
        line-height: 1.20
        position: relative
        overflow: hidden
        mix-blend-mode: multiply

        @include m.tablet
            font-size: 3rem

        @include m.mobile
            font-size: 2.5rem

        &-gradient
            background: v.$bg-gradation
            -webkit-background-clip: text
            background-clip: text
            -webkit-text-fill-color: transparent
            color: transparent

        &-firstLine
            text-align: center
            white-space: nowrap
            margin: 0 auto
            display: block
            overflow: hidden
            animation: 3s steps(15, end) typing, .5s step-end 6 alternate effect

        &-secondLine
            text-align: center
            white-space: nowrap
            margin: 0 auto
            display: block
            overflow: hidden
            animation: 3s step-end hide, 3s steps(15, end) 3s typing, .5s step-end 3s 6 alternate effect

        @keyframes hide
            0%
                width: 0%

        @keyframes typing
            0%
                width: 0
            100%
                width: 100%

        @keyframes effect
            50%
                border-right: 3px solid v.$font-color-dark

    &__lead
        color: v.$top-font-weak-color
        font-size: 1.5rem
        margin-top: 32px
        animation: 6s step-end showup, 1s 6s fadein
        @include m.mobile
            font-size: 1rem

.ctaAnimation
    animation: 6s step-end showup, 1s 6s fadein

//====================================
// アニメーション
//====================================
@keyframes showup
    0%
        opacity: 0

@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1
