@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.hero
    text-align: center
    height: 960px
    width: 100%
    display: flex
    align-items: center
    position: relative

    @include m.tablet
        padding: 16px

    @include m.mobile
        height: 640px


    &__title
        font-size: 6rem
        line-height: 1.20
        position: relative
        overflow: hidden
        mix-blend-mode: multiply

        @include m.tablet
            font-size: 3rem

        @include m.mobile
            font-size: 2.5rem

        span
            background: v.$bg-gradation
            -webkit-background-clip: text
            background-clip: text
            -webkit-text-fill-color: transparent
            color: transparent

        //typeWriter
        &::after
            content: "|"
            color: v.$font-color-dark
            animation: blink 1s infinite

    @keyframes blink
        0%, 100%
            opacity: 1
        50%
            opacity: 0

    &__lead
        font-size: 1.5rem
        margin-top: 32px
        @include m.mobile
            font-size: 1rem

    &__btn
        @include m.cta