@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.price
    margin-top: 64px

    &__notice
        margin-top: 32px
        text-align: center
        font-size: 0.75rem