@use '../shared/_global.sass' as g
@use '../shared/_mixin.sass' as m
@use '../shared/_variable.sass' as v

.price
    margin-top: 64px
    font-size: 1.125rem

.price__title


.price__notice
    margin-top: 32px
    text-align: center
    font-size: 0.75rem

.price__cards
    margin-top: 128px
    display: flex
    gap: 32px

.price__card
    @include m.card