/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

@chartset "UTF-8";
body {
  height: 100%;
  text-decoration: none;
  color: #55655c;
  font-family: "Inter", "Hiragino Kaku Gothic ProN", monospace;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  max-width: 100%;
  background: #fefefe;
  color: #55655c;
  position: relative;
  overflow: auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
}

.bg-shape {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 768px) {
  .bg-shape {
    display: none;
  }
}
.bg-shape--donut {
  position: absolute;
  pointer-events: none;
  top: var(--top, auto);
  right: var(--right, auto);
  bottom: var(--bottom, auto);
  left: var(--left, auto);
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background: var(--bg, #2ed9ff);
}
.bg-shape__inner {
  position: absolute;
  inset: 100px;
  border-radius: 50%;
  background: #fefefe;
}

.header {
  width: 100%;
  padding: 16px;
  z-index: 1;
  position: absolute;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo-text {
  font-size: 0.875rem;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  padding-right: 16px;
  font-size: 0.75rem;
}
.header__nav-item:hover {
  color: #0d864f;
}
.header__github:hover {
  color: #0d864f;
}
.header__actions {
  display: flex;
  min-width: 240px;
  justify-content: flex-end;
  gap: 16px;
}
.header__btn {
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
  box-shadow: 2px 2px 4px 1px rgba(34, 34, 34, 0.1254901961);
  transition: background 0.5s;
}
.header__btn--primary {
  background: #42b883;
}
.header__btn--primary:hover {
  background: #0d864f;
}
.header__btn--secondary {
  background: #1c3041;
}
.header__btn--secondary:hover {
  opacity: 0.8;
}

.hero {
  text-align: center;
  height: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .hero {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 640px;
  }
}
.hero__title {
  font-size: 6rem;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  mix-blend-mode: multiply;
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.hero__title span {
  background: linear-gradient(90deg, #4bcaa0 0%, #2ed9ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.hero__title::after {
  content: "|";
  color: #55655c;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.hero__lead {
  font-size: 1.5rem;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .hero__lead {
    font-size: 1rem;
  }
}
.hero__btn {
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
  box-shadow: 2px 2px 4px 1px rgba(34, 34, 34, 0.1254901961);
  transition: background 0.5s;
  width: 360px;
  background: #42b883;
  margin-top: 64px;
  font-weight: normal;
}
.hero__btn:hover {
  background: #0d864f;
}
@media (max-width: 768px) {
  .hero__btn {
    width: clamp(12.5rem, 2.958rem + 43.712vw, 22.5rem);
  }
}

.feature__inner {
  display: flex;
  gap: 64px;
  justify-content: center;
  flex-wrap: wrap;
}
.feature__desc {
  color: #677772;
  max-width: 300px;
  margin-top: 16px;
}

.price {
  margin-top: 64px;
}
.price__notice {
  margin-top: 32px;
  text-align: center;
  font-size: 0.75rem;
}
.price__cards {
  margin-top: 128px;
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}
.price__card {
  border: 1px solid #f9f9f9;
  background: #fefefe;
  border-radius: 8px;
  width: 360px;
  padding: 32px;
  box-shadow: 1px 1px 8px 4px #f9f9f9;
}

.card__title {
  font-weight: bold;
  font-size: 1.125rem;
}
.card__desc {
  font-size: 0.75rem;
}
.card__price-value {
  font-weight: bold;
  font-size: 4rem;
  background: linear-gradient(90deg, #4bcaa0 0%, #2ed9ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.card__price-unit {
  font-weight: bold;
  font-size: 0.75rem;
}
.card__features {
  display: flex;
  align-items: center;
}
.card__feature-icon {
  color: #4bcaa0;
  background: #d6f5eb;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.card__feature-text {
  padding: 16px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 192px;
}
.review__title {
  margin-top: 64px;
}
.review__users {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.review__user {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 280px;
}
.review__user-img {
  object-fit: cover;
  border-radius: 50%;
}
.review__user-profile {
  text-align: center;
  font-weight: bold;
}
.review__desc {
  color: #677772;
}
.review__cta {
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
  box-shadow: 2px 2px 4px 1px rgba(34, 34, 34, 0.1254901961);
  transition: background 0.5s;
  width: 360px;
  background: #42b883;
  margin-top: 64px;
  font-weight: normal;
}
.review__cta:hover {
  background: #0d864f;
}
@media (max-width: 768px) {
  .review__cta {
    width: clamp(12.5rem, 2.958rem + 43.712vw, 22.5rem);
  }
}

.footer {
  background: #f9f9f9;
  width: 100%;
}
.footer__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 64px 128px;
}
@media (max-width: 992px) {
  .footer__inner {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding: 32px 64px;
  }
}
.footer__left {
  margin-right: auto;
}
@media (max-width: 992px) {
  .footer__left {
    margin-bottom: 32px;
  }
}
.footer__logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 32px;
}
.footer__menu {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    gap: 16px;
  }
}
.footer__menu-title {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .footer__menu-title {
    margin-bottom: 16px;
  }
}
.footer__menu-item {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .footer__menu-item {
    margin-bottom: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
